*{
    margin: 0;
    padding: 0;

}
header{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 29, 121);
    /*rgb(62, 0, 121)*/
    text-align: center;
    
}
header #perfil img{
    height: 100%;
    width: 25%;
    cursor: pointer;
    
}
main{
    margin-top: 3%;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 22px;
    
}
main h1{
    position: relative;
    margin-bottom: 1%;
    animation-name: pisca;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes pisca {
    0%{color: red;}
    25%{color: rgb(253, 236, 0);}
    50%{color: green; font-size: 38px;}
    75%{color: blue;}
    100%{color: blueviolet;}
}

.trofeu {
    position: relative;
    animation: sobe 3s;
    animation-iteration-count: 1;
  }
@keyframes sobe {
    from {top: 200px;}
    to {top: 0px;}
  }